In [1]:
import os
from dotenv import load_dotenv
import pandas as pd
import snowflake.snowpark.functions as F
from snowflake.ml.utils.connection_params import SnowflakeLoginOptions
from snowflake.snowpark import Session

In [2]:
session = Session.builder.configs(SnowflakeLoginOptions()).getOrCreate()

load_dotenv()
data_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir)) + '/data'

SF_DATABASE:str = os.getenv('SNOWFLAKE_DATABASE')
SF_SCHEMA:str = os.getenv('SNOWFLAKE_SCHEMA')

SnowflakeLoginOptions() is in private preview since 0.2.0. Do not use it in production.

In [3]:
#session.sql("CREATE DATABASE IF NOT EXISTS " + SF_DATABASE).collect()
session.sql("USE " + SF_DATABASE).collect()
session.sql("CREATE SCHEMA IF NOT EXISTS " + SF_SCHEMA ).collect()
session.sql("USE SCHEMA " + SF_SCHEMA ).collect()

[Row(status='Statement executed successfully.')]

In [4]:
session.sql("CREATE STAGE if not exists ML_DATA").collect()

[Row(status='ML_DATA already exists, statement succeeded.')]

In [7]:
titanic = pd.read_csv(
    "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
)
titanic.columns = [c.upper() for c in titanic.columns]

os.makedirs(data_dir + '/raw', exist_ok=True)
titanic.to_csv("../data/raw/titanic.csv", index=False, mode='w+')

In [8]:
session.file.put("../data/raw/titanic.csv", "@ml_data/raw", overwrite=True)

[PutResult(source='titanic.csv', target='titanic.csv.gz', source_size=57018, target_size=6528, source_compression='NONE', target_compression='GZIP', status='UPLOADED', message='')]

In [9]:
# Create a Snowpark DataFrame that is configured to load data from the CSV file
titanic_df = (
    session.read.option("infer_schema", True)
    .option("PARSE_HEADER", True)
    .csv("@ml_data/raw/titanic.csv")
)
titanic_df.show()

-------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"SURVIVED"  |"PCLASS"  |"SEX"   |"AGE"  |"SIBSP"  |"PARCH"  |"FARE"   |"EMBARKED"  |"CLASS"  |"WHO"  |"ADULT_MALE"  |"DECK"  |"EMBARK_TOWN"  |"ALIVE"  |"ALONE"  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
|0           |3         |male    |22.00  |1        |0        |7.2500   |S           |Third    |man    |True          |NULL    |Southampton    |False    |False    |
|1           |1         |female  |38.00  |1        |0        |71.2833  |C           |First    |woman  |False         |C       |Cherbourg      |True     |False    |
|1           |3         |female  |26.00  |0        |0        |7.9250   |S           |Third    |woman  |False         |NULL    |Southampton    |True     |True     |
|1           |1         |female  |35.00  |1        |0        |53.1000  |S           |First    |woman  |False         |C       |Southampton    |True     |False    |
|0           |3         |male    |35.00  |0        |0        |8.0500   |S           |Third    |man    |True          |NULL    |Southampton    |False    |True     |
|0           |3         |male    |NULL   |0        |0        |8.4583   |Q           |Third    |man    |True          |NULL    |Queenstown     |False    |True     |
|0           |1         |male    |54.00  |0        |0        |51.8625  |S           |First    |man    |True          |E       |Southampton    |False    |True     |
|0           |3         |male    |2.00   |3        |1        |21.0750  |S           |Third    |child  |False         |NULL    |Southampton    |False    |False    |
|1           |3         |female  |27.00  |0        |2        |11.1333  |S           |Third    |woman  |False         |NULL    |Southampton    |True     |False    |
|1           |2         |female  |14.00  |1        |0        |30.0708  |C           |Second   |child  |False         |NULL    |Cherbourg      |True     |False    |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [14]:
def fix_values(column):
    return F.upper(F.regexp_replace(F.col(column), "[^a-zA-Z0-9]+", "_"))


for col in ["SEX", "EMBARKED", "CLASS", "WHO", "EMBARK_TOWN"]:
    titanic_df = titanic_df.with_column(col, fix_values(col))

titanic_df.show()

-------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"SURVIVED"  |"PCLASS"  |"AGE"  |"SIBSP"  |"PARCH"  |"FARE"   |"ADULT_MALE"  |"DECK"  |"ALIVE"  |"ALONE"  |"SEX"   |"EMBARKED"  |"CLASS"  |"WHO"  |"EMBARK_TOWN"  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
|0           |3         |22.00  |1        |0        |7.2500   |True          |NULL    |False    |False    |MALE    |S           |THIRD    |MAN    |SOUTHAMPTON    |
|1           |1         |38.00  |1        |0        |71.2833  |False         |C       |True     |False    |FEMALE  |C           |FIRST    |WOMAN  |CHERBOURG      |
|1           |3         |26.00  |0        |0        |7.9250   |False         |NULL    |True     |True     |FEMALE  |S           |THIRD    |WOMAN  |SOUTHAMPTON    |
|1           |1         |35.00  |1        |0        |53.1000  |False         |C       |True     |False    |FEMALE  |S           |FIRST    |WOMAN  |SOUTHAMPTON    |
|0           |3         |35.00  |0        |0        |8.0500   |True          |NULL    |False    |True     |MALE    |S           |THIRD    |MAN    |SOUTHAMPTON    |
|0           |3         |NULL   |0        |0        |8.4583   |True          |NULL    |False    |True     |MALE    |Q           |THIRD    |MAN    |QUEENSTOWN     |
|0           |1         |54.00  |0        |0        |51.8625  |True          |E       |False    |True     |MALE    |S           |FIRST    |MAN    |SOUTHAMPTON    |
|0           |3         |2.00   |3        |1        |21.0750  |False         |NULL    |False    |False    |MALE    |S           |THIRD    |CHILD  |SOUTHAMPTON    |
|1           |3         |27.00  |0        |2        |11.1333  |False         |NULL    |True     |False    |FEMALE  |S           |THIRD    |WOMAN  |SOUTHAMPTON    |
|1           |2         |14.00  |1        |0        |30.0708  |False         |NULL    |True     |False    |FEMALE  |C           |SECOND   |CHILD  |CHERBOURG      |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [28]:
titanic_df.collect()

[Row(SURVIVED=0, PCLASS=3, AGE=Decimal('22.00'), SIBSP=1, PARCH=0, FARE=Decimal('7.2500'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=1, AGE=Decimal('38.00'), SIBSP=1, PARCH=0, FARE=Decimal('71.2833'), ADULT_MALE=False, DECK='C', ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='C', CLASS='FIRST', WHO='WOMAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=1, PCLASS=3, AGE=Decimal('26.00'), SIBSP=0, PARCH=0, FARE=Decimal('7.9250'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=1, AGE=Decimal('35.00'), SIBSP=1, PARCH=0, FARE=Decimal('53.1000'), ADULT_MALE=False, DECK='C', ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='FIRST', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('35.00'), SIBSP=0, PARCH=0, FARE=Decimal('8.0500'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('8.4583'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='Q', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='QUEENSTOWN'),
 Row(SURVIVED=0, PCLASS=1, AGE=Decimal('54.00'), SIBSP=0, PARCH=0, FARE=Decimal('51.8625'), ADULT_MALE=True, DECK='E', ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='FIRST', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('2.00'), SIBSP=3, PARCH=1, FARE=Decimal('21.0750'), ADULT_MALE=False, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='CHILD', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=3, AGE=Decimal('27.00'), SIBSP=0, PARCH=2, FARE=Decimal('11.1333'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=2, AGE=Decimal('14.00'), SIBSP=1, PARCH=0, FARE=Decimal('30.0708'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='C', CLASS='SECOND', WHO='CHILD', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=1, PCLASS=3, AGE=Decimal('4.00'), SIBSP=1, PARCH=1, FARE=Decimal('16.7000'), ADULT_MALE=False, DECK='G', ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='CHILD', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=1, AGE=Decimal('58.00'), SIBSP=0, PARCH=0, FARE=Decimal('26.5500'), ADULT_MALE=False, DECK='C', ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='S', CLASS='FIRST', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('20.00'), SIBSP=0, PARCH=0, FARE=Decimal('8.0500'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('39.00'), SIBSP=1, PARCH=5, FARE=Decimal('31.2750'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('14.00'), SIBSP=0, PARCH=0, FARE=Decimal('7.8542'), ADULT_MALE=False, DECK=None, ALIVE=False, ALONE=True, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='CHILD', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=2, AGE=Decimal('55.00'), SIBSP=0, PARCH=0, FARE=Decimal('16.0000'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='S', CLASS='SECOND', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('2.00'), SIBSP=4, PARCH=1, FARE=Decimal('29.1250'), ADULT_MALE=False, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='Q', CLASS='THIRD', WHO='CHILD', EMBARK_TOWN='QUEENSTOWN'),
 Row(SURVIVED=1, PCLASS=2, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('13.0000'), ADULT_MALE=True, DECK=None, ALIVE=True, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='SECOND', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('31.00'), SIBSP=1, PARCH=0, FARE=Decimal('18.0000'), ADULT_MALE=False, DECK=None, ALIVE=False, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('7.2250'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='C', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=0, PCLASS=2, AGE=Decimal('35.00'), SIBSP=0, PARCH=0, FARE=Decimal('26.0000'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='SECOND', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=2, AGE=Decimal('34.00'), SIBSP=0, PARCH=0, FARE=Decimal('13.0000'), ADULT_MALE=True, DECK='D', ALIVE=True, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='SECOND', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=3, AGE=Decimal('15.00'), SIBSP=0, PARCH=0, FARE=Decimal('8.0292'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='Q', CLASS='THIRD', WHO='CHILD', EMBARK_TOWN='QUEENSTOWN'),
 Row(SURVIVED=1, PCLASS=1, AGE=Decimal('28.00'), SIBSP=0, PARCH=0, FARE=Decimal('35.5000'), ADULT_MALE=True, DECK='A', ALIVE=True, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='FIRST', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('8.00'), SIBSP=3, PARCH=1, FARE=Decimal('21.0750'), ADULT_MALE=False, DECK=None, ALIVE=False, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='CHILD', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=3, AGE=Decimal('38.00'), SIBSP=1, PARCH=5, FARE=Decimal('31.3875'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('7.2250'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='C', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=0, PCLASS=1, AGE=Decimal('19.00'), SIBSP=3, PARCH=2, FARE=Decimal('263.0000'), ADULT_MALE=True, DECK='C', ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='S', CLASS='FIRST', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('7.8792'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='Q', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='QUEENSTOWN'),
 Row(SURVIVED=0, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('7.8958'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=1, AGE=Decimal('40.00'), SIBSP=0, PARCH=0, FARE=Decimal('27.7208'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='C', CLASS='FIRST', WHO='MAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=1, PCLASS=1, AGE=None, SIBSP=1, PARCH=0, FARE=Decimal('146.5208'), ADULT_MALE=False, DECK='B', ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='C', CLASS='FIRST', WHO='WOMAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=1, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('7.7500'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='Q', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='QUEENSTOWN'),
 Row(SURVIVED=0, PCLASS=2, AGE=Decimal('66.00'), SIBSP=0, PARCH=0, FARE=Decimal('10.5000'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='SECOND', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=1, AGE=Decimal('28.00'), SIBSP=1, PARCH=0, FARE=Decimal('82.1708'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='C', CLASS='FIRST', WHO='MAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=0, PCLASS=1, AGE=Decimal('42.00'), SIBSP=1, PARCH=0, FARE=Decimal('52.0000'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='S', CLASS='FIRST', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('7.2292'), ADULT_MALE=True, DECK=None, ALIVE=True, ALONE=True, SEX='MALE', EMBARKED='C', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('21.00'), SIBSP=0, PARCH=0, FARE=Decimal('8.0500'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('18.00'), SIBSP=2, PARCH=0, FARE=Decimal('18.0000'), ADULT_MALE=False, DECK=None, ALIVE=False, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=3, AGE=Decimal('14.00'), SIBSP=1, PARCH=0, FARE=Decimal('11.2417'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='C', CLASS='THIRD', WHO='CHILD', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('40.00'), SIBSP=1, PARCH=0, FARE=Decimal('9.4750'), ADULT_MALE=False, DECK=None, ALIVE=False, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=2, AGE=Decimal('27.00'), SIBSP=1, PARCH=0, FARE=Decimal('21.0000'), ADULT_MALE=False, DECK=None, ALIVE=False, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='SECOND', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('7.8958'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='C', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=1, PCLASS=2, AGE=Decimal('3.00'), SIBSP=1, PARCH=2, FARE=Decimal('41.5792'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='C', CLASS='SECOND', WHO='CHILD', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=1, PCLASS=3, AGE=Decimal('19.00'), SIBSP=0, PARCH=0, FARE=Decimal('7.8792'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='Q', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='QUEENSTOWN'),
 Row(SURVIVED=0, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('8.0500'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=None, SIBSP=1, PARCH=0, FARE=Decimal('15.5000'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='Q', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='QUEENSTOWN'),
 Row(SURVIVED=1, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('7.7500'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='Q', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='QUEENSTOWN'),
 Row(SURVIVED=0, PCLASS=3, AGE=None, SIBSP=2, PARCH=0, FARE=Decimal('21.6792'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='C', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('18.00'), SIBSP=1, PARCH=0, FARE=Decimal('17.8000'), ADULT_MALE=False, DECK=None, ALIVE=False, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('7.00'), SIBSP=4, PARCH=1, FARE=Decimal('39.6875'), ADULT_MALE=False, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='CHILD', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('21.00'), SIBSP=0, PARCH=0, FARE=Decimal('7.8000'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=1, AGE=Decimal('49.00'), SIBSP=1, PARCH=0, FARE=Decimal('76.7292'), ADULT_MALE=False, DECK='D', ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='C', CLASS='FIRST', WHO='WOMAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=1, PCLASS=2, AGE=Decimal('29.00'), SIBSP=1, PARCH=0, FARE=Decimal('26.0000'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='SECOND', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=1, AGE=Decimal('65.00'), SIBSP=0, PARCH=1, FARE=Decimal('61.9792'), ADULT_MALE=True, DECK='B', ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='C', CLASS='FIRST', WHO='MAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=1, PCLASS=1, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('35.5000'), ADULT_MALE=True, DECK='C', ALIVE=True, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='FIRST', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=2, AGE=Decimal('21.00'), SIBSP=0, PARCH=0, FARE=Decimal('10.5000'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='S', CLASS='SECOND', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('28.50'), SIBSP=0, PARCH=0, FARE=Decimal('7.2292'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='C', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=1, PCLASS=2, AGE=Decimal('5.00'), SIBSP=1, PARCH=2, FARE=Decimal('27.7500'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='SECOND', WHO='CHILD', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('11.00'), SIBSP=5, PARCH=2, FARE=Decimal('46.9000'), ADULT_MALE=False, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='CHILD', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('22.00'), SIBSP=0, PARCH=0, FARE=Decimal('7.2292'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='C', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=1, PCLASS=1, AGE=Decimal('38.00'), SIBSP=0, PARCH=0, FARE=Decimal('80.0000'), ADULT_MALE=False, DECK='B', ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED=None, CLASS='FIRST', WHO='WOMAN', EMBARK_TOWN=None),
 Row(SURVIVED=0, PCLASS=1, AGE=Decimal('45.00'), SIBSP=1, PARCH=0, FARE=Decimal('83.4750'), ADULT_MALE=True, DECK='C', ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='S', CLASS='FIRST', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('4.00'), SIBSP=3, PARCH=2, FARE=Decimal('27.9000'), ADULT_MALE=False, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='CHILD', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=1, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('27.7208'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='C', CLASS='FIRST', WHO='MAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=1, PCLASS=3, AGE=None, SIBSP=1, PARCH=1, FARE=Decimal('15.2458'), ADULT_MALE=True, DECK=None, ALIVE=True, ALONE=False, SEX='MALE', EMBARKED='C', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=1, PCLASS=2, AGE=Decimal('29.00'), SIBSP=0, PARCH=0, FARE=Decimal('10.5000'), ADULT_MALE=False, DECK='F', ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='S', CLASS='SECOND', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('19.00'), SIBSP=0, PARCH=0, FARE=Decimal('8.1583'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=3, AGE=Decimal('17.00'), SIBSP=4, PARCH=2, FARE=Decimal('7.9250'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('26.00'), SIBSP=2, PARCH=0, FARE=Decimal('8.6625'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=2, AGE=Decimal('32.00'), SIBSP=0, PARCH=0, FARE=Decimal('10.5000'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='SECOND', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('16.00'), SIBSP=5, PARCH=2, FARE=Decimal('46.9000'), ADULT_MALE=False, DECK=None, ALIVE=False, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=2, AGE=Decimal('21.00'), SIBSP=0, PARCH=0, FARE=Decimal('73.5000'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='SECOND', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('26.00'), SIBSP=1, PARCH=0, FARE=Decimal('14.4542'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='C', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='CHERBOURG'),
 Row(SURVIVED=1, PCLASS=3, AGE=Decimal('32.00'), SIBSP=0, PARCH=0, FARE=Decimal('56.4958'), ADULT_MALE=True, DECK=None, ALIVE=True, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('25.00'), SIBSP=0, PARCH=0, FARE=Decimal('7.6500'), ADULT_MALE=True, DECK='F', ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('7.8958'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('8.0500'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=2, AGE=Decimal('0.83'), SIBSP=0, PARCH=2, FARE=Decimal('29.0000'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=False, SEX='MALE', EMBARKED='S', CLASS='SECOND', WHO='CHILD', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=3, AGE=Decimal('30.00'), SIBSP=0, PARCH=0, FARE=Decimal('12.4750'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('22.00'), SIBSP=0, PARCH=0, FARE=Decimal('9.0000'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=3, AGE=Decimal('29.00'), SIBSP=0, PARCH=0, FARE=Decimal('9.5000'), ADULT_MALE=True, DECK=None, ALIVE=True, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('7.7875'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='Q', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='QUEENSTOWN'),
 Row(SURVIVED=0, PCLASS=1, AGE=Decimal('28.00'), SIBSP=0, PARCH=0, FARE=Decimal('47.1000'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='FIRST', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=2, AGE=Decimal('17.00'), SIBSP=0, PARCH=0, FARE=Decimal('10.5000'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=True, SEX='FEMALE', EMBARKED='S', CLASS='SECOND', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=3, AGE=Decimal('33.00'), SIBSP=3, PARCH=0, FARE=Decimal('15.8500'), ADULT_MALE=False, DECK=None, ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='THIRD', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=Decimal('16.00'), SIBSP=1, PARCH=3, FARE=Decimal('34.3750'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=False, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=0, PCLASS=3, AGE=None, SIBSP=0, PARCH=0, FARE=Decimal('8.0500'), ADULT_MALE=True, DECK=None, ALIVE=False, ALONE=True, SEX='MALE', EMBARKED='S', CLASS='THIRD', WHO='MAN', EMBARK_TOWN='SOUTHAMPTON'),
 Row(SURVIVED=1, PCLASS=1, AGE=Decimal('23.00'), SIBSP=3, PARCH=2, FARE=Decimal('263.0000'), ADULT_MALE=False, DECK='C', ALIVE=True, ALONE=False, SEX='FEMALE', EMBARKED='S', CLASS='FIRST', WHO='WOMAN', EMBARK_TOWN='SOUTHAMPTON'),

In [43]:
cleaned_dir = os.makedirs(data_dir + "/cleaned", exist_ok=True)

# Convert to Pandas so we can store it locally
titanic_pd = pd.DataFrame(titanic_df.collect(), )
titanic_pd.to_csv("../data/cleaned/titanic.csv", index=False)

session.file.put("../data/cleaned/titanic.csv", "@ml_data/cleaned", overwrite=True)
titanic_df.write.mode("overwrite").save_as_table("titanic")